body {
  background-color: #151516;
  color: white;
}

#cssBG, #htmlBG, #javaBG, pre {
  display: inline-block;
  height: 100%;
  padding: 9.5px;
  margin: 0px;
  margin-top: 60px;
  font-size: .8vw;
  line-height: 1.42857143;
  color: white;
  overflow: hidden;
  background-color: #151516;
  border: 0;
  border-radius: 0px;
  /* opacity: .85; */
}

#htmlBG {
  width: 40%;
}

#cssBG {
  width: 20%;
}

#javaBG {
  width: 30%
}

.comment {
  color: #085b34;
}
.target {
  color: #DCDCAA;
  /* color: #DCDCAA; */
}

.primary {
  color: rgb(216, 160, 137);
}

.character {
  /* color: #569cd6; */
  color: #9CDCFE;
}

.value {
  /* color: #4EC9B0; */
  color: #d5edad;
}

.control {
  color: #545454;
}

.logic {
  color: #843ca8;
}

.tag {
  color: #569cd6;
}
