*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialised;
    -ms-font-smoothing: antialised;
    -o-font-smoothing: antialised;
    font-smoothing: antialiased;
}

body {
    min-height: 100%;
    font-size: 30px;
    text-align: center;
    overflow-x: hidden;
}

.gradient{
    /* webkit */
    background-image: -webkit-gradient(
      linear, right top, right bottom, from(rgba(255, 255, 255, 0)),
      to(rgba(255, 255, 255, 1))
    );

    /* mozilla - FF3.6+ */
    background-image: -moz-linear-gradient(
      right center,
      rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
    );

    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(
      gradientType=1, startColor=0, endColorStr=#FFFFFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      gradientType=1, startColor=0, endColoStr=#FFFFFF
    );
    
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}

.outside-border {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    z-index: -999;
}

.everything-else {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 80vh;
    background-color: white;
}

.nav-color {
    position: fixed;
/*    background-color: #FFFFFF;*/
    opacity: .9;
    top: 0%;
    width: 100%;
    height: 70px;
    z-index: 999;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.nav-bar {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    z-index: 999;
}

.nav-item {
    float: right;
    text-align: left;
    vertical-align: middle;
    line-height: 350%;
    font-size: 20px;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

.CBD {
    margin-left: 80px;
    height: 70px;
    float: left;
    text-decoration: none;
    font-weight: bold;
    line-height: 250%;
    font-size: 30px;
}

.initials {
    color: white;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.kitten-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/stupid-safari-wont-show-jpgs.png);
    background-position: center center;
    background-size: cover;
}
 
.this-is-me {
    top: 30%;
    position: fixed;
/*    -webkit-transform: translateY(-150%);*/
/*    -moz-transform: translateY(-150%);*/
/*    transform: translateY(-150%);*/
    width: 100%;
/*    opacity: 0;*/
/*    font-size: 3.5vw;*/
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
    text-shadow: 2px 2px 0px #333333;
/*
    animation-name: fade-in, fadeup;
    animation-delay: 1.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
*/
}

.this-is-kitten { 
    top: 65%;
    position: fixed;
    width: 100%;
/*    opacity: 0;*/
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
    text-shadow: 1.25px 1.25px 0px #333333;
/*
    animation-name: fade-in, fade-up;
    animation-delay: 2.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
*/
}

.fade-in-up {
    animation-name: fade-in, fadeup;
}

.title1 {
    opacity: 0;
/*    animation-name: fade-in, fadeup;*/
    animation-delay: 2s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.title2 {
    opacity: 0;
/*    animation-name: fade-in, fadeup;*/
    animation-delay: 2.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.title3 {
    opacity: 0;
/*    animation-name: fade-in, fadeup;*/
    animation-delay: 3s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.title4 {
    opacity: 0;
/*    animation-name: fade-in, fadeup;*/
    animation-delay: 4s;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
}

.title5 {
    opacity: 0;
/*    animation-name: fade-in, fadeup;*/
    animation-delay: 4.25s;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
}

.aboutme {
    position: relative;
    height: 850px;
    padding: 5vw;
}

.about-img {
    max-width: 42.5vw;
    height: auto;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    text-align: center;
    vertical-align: middle;
    margin-left: 47.5vw;
    padding: 25px;
    width: 42.5vw;
    border-radius: 25px;
    background: #e6e6e6;
    flex-wrap: wrap;
}

.social-media {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.contact-space {
    text-align: center;
    background-color: rgb(136,0,20);
    height: 200px;
    color: white;
}

.i-am-a-web-dev {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: bottom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.bloc-title {
/*    font-family: 'Passion One', Cursive;*/
}

.divider {
    top: 100%;
    width: 100%;
    position: absolute;
    height: 80vh;
}

/*
.bloc-button {
	background-color:#e6e6e6;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:24px;
	padding:25px 25px;
	text-decoration:none;
}
*/

a { 
    text-decoration: none; 
}

.navb, .navc {
    opacity: 0;
    color: white;
/*    animation-name: fade-in, fade-up;*/
    animation-duration: .75s;
    animation-fill-mode: forwards;
}

.navb {
    animation-delay: 1s;
}

.navc {
    animation-delay: .5s;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
/*    -moz-osx-font-smoothing: grayscale;*/
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.fade-in {
    animation-name: fade-in;
}

#nate span:nth-of-type(1) {
    opacity: 0;
    transition-duration: .05s;
    transition-delay:.15s;
}

#nate span:nth-of-type(2) {
    opacity: 0;
    transition-duration: .05s;
    transition-delay: .1s;
}

#nate span:nth-of-type(3) {
    opacity: 0;
    transition-duration: .05s;
    transition-delay: .033s;
}

#nate span:nth-of-type(4) {
    opacity: 0;
    transition-duration: .05s;
    transition-delay: 0s;
}

.CBD:hover #nate span:nth-of-type(1){
    opacity: 1;
    transition-duration: .25s;
    transition-delay: 0s;
}

.CBD:hover #nate span:nth-of-type(2){
    opacity: 1;
    transition-duration: .2s;
    transition-delay: .05s;
}

.CBD:hover #nate span:nth-of-type(3){
    opacity: 1;
    transition-duration: .1s;
    transition-delay: .1s;
}

.CBD:hover #nate span:nth-of-type(4){
    opacity: 1;
    transition-duration: .05s;
    transition-delay: .133s;
}

#cbd {
    transition-duration: .25s;
    margin: -81.625px;
}

#cbd span:nth-of-type(1) {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0s;
/*    animation-name: fade-in;*/
    animation-fill-mode: both;
}

#cbd span:nth-of-type(2) {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: .25s;
/*    animation-name: fade-in;*/
    animation-fill-mode: both;
}

#cbd span:nth-of-type(3) {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: .5s;
/*    animation-name: fade-in;*/
    animation-fill-mode: both;
    transition-duration: .25s;
}

.CBD:hover #cbd {
    margin: 0px;
}

.CBD:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 64.9668px;
    left: 80px;
    right: 0;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    animation-name: CBD-underline;
    animation-delay: .75s;
    animation-duration: .5s;
    animation-fill-mode: both;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.CBD:hover:before {
    width: 146.703px;
}

@keyframes CBD-underline {
    0% {   -webkit-transform: translateY(4px); transform: translateY(4px); }
    100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

@keyframes fade-in {
    0% {   opacity: 0; }
    100% { opacity: .975; }
}

@keyframes fade-out {
    0% {   opacity: .975; }
    100% { opacity: 0; }
}

@keyframes purple-to-crimson {
    0% {   background-color: rgb(58,23,63); }
    100% { background-color: rgb(136,0,20); }
}

@keyframes crimson-to-purple {
    0% {   background-color: rgb(136,0,20); }
    100% { background-color: rgb(58,23,63); }
}

@keyframes fade-up-super {
    0% {  margin-top: 100px; }
    100%{ margin-top: 0px; }
}

@keyframes fade-down-super {
    0% {  margin-top: 0px; }
    100%{ margin-top: 100px; }
}

@keyframes fade-down {
    0% {  margin-top: 0px; }
    100%{ margin-top: 40px; }
}

@media (max-width: 1300px) {
    .about-text {font-size: 20px}
    .contact-space, .ups {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    
    .about-img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 75vw;
    }

    .about-text {
        display: inline-block;
        margin-left: auto;
        width: 75vw;
    }
}

@media (max-width: 800px) {
    .nav-color, .nav-bar, .this-is-me, .this-is-kitten {
        position: absolute;
    }
    
    .this-is-me, .this-is-kitten {
        font-size: 25px;
    }
    
    .CBD {
        left: 5px;
    }
    
    .CBD:before {
        left: 5px;
    }
    
    .nav-item {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .navb, .navc {
        font-size: 15px;
    }
}

@media (max-height: 500px) {
    .this-is-me, .this-is-kitten {
        font-size: 20px;
        line-height: 10px;
    }
}

@media (max-height: 300px) {
    .this-is-me, .this-is-kitten {
        font-size: 12px;
    }
}

@media (max-height: 200px) {
    .this-is-me, .this-is-kitten {
        font-size: 10px;
    }
}

@media (max-height: 150px) {
    .this-is-me, .this-is-kitten {
        line-height: 2px;
    }
}