.bg {
  width: 100vw;
  height: 100vh;
  background-color: #151516;
  color: white;
  position: fixed;
  z-index: 9999;
}

.inline {
  float: left;
}

.left, .right {
  width: 10%;
  border-radius: 10px;
  color: black;
}

.middle {
  width: 80%;
}

.center-screen {
  /* position: absolute; */
  /* margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}

#page-build-panel {
  opacity: .45;
  background-color: grey;
  width: 100%;
  height: 100%;
}

#page-build {
  opacity: 1;
  width: 80%;
}

#page-text, .bracket-buttons {
  font-size: 2.5vw;
  padding-right: 0px;
  padding-left: 0px;
}

#page-build a {
  color: white;
}

/* Loading Spinner */
.animated {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#left-bracket {
  -webkit-animation: bounceLeft .5s infinite alternate;
          animation: bounceLeft .5s infinite alternate;
}

#right-bracket {
  -webkit-animation: bounceRight .5s infinite alternate;
          animation: bounceRight .5s infinite alternate;
}

.CSSmodal {
  -webkit-animation-duration: .75s;
     -moz-animation-duration: .75s;
       -o-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#cssBG, #javaBG, #htmlBG {
  -webkit-animation: blrPre 4.5s;
          animation: blrPre 4.5s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes blrPre {
  0% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);  
  } 33% {
    -webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);
  } 100% {
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);
  }
}

@keyframes bounceRight {
  from {
    transform: translateX(0px);
  } to {
    transform: translateX(15px);
  }
}

@keyframes bounceLeft {
  from {
    transform: translateX(0px);
  } to {
    transform: translateX(-15px);
  }
}

@media only screen and (max-width: 600px) {
  #page-text {
    font-size: 4vw;
  }
  .bracket-buttons {
    font-size: 8vw;
  }
}

/* .rotator {
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-animation: rotator 2s infinite;
     -moz-animation: rotator 2s infinite;
       -o-animation: rotator 2s infinite;
          animation: rotator 2s infinite;
  animation-iteration-count: 4;
} */

/* .blank {
  width: 70px;
  height: 70px;
  background-color: black;
  -webkit-animation: centerpiece 2s infinite;
     -moz-animation: centerpiece 2s infinite;
       -o-animation: centerpiece 2s infinite;
          animation: centerpiece 2s infinite;
  animation-iteration-count: 4;
  border-radius: 50px;
} */

/* #loading {
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: white;
} */

/* .loading-dot {
  font-size: 25px;
  color: black;
} */

/* #dot1 {
  -webkit-animation: dot 2s infinite;
     -moz-animation: dot 2s infinite;
       -o-animation: dot 2s infinite;
          animation: dot 2s infinite;
  animation-iteration-count: 4;
} */
/* 
#dot2 {
  -webkit-animation: dot 2s infinite;
     -moz-animation: dot 2s infinite;
       -o-animation: dot 2s infinite;
          animation: dot 2s infinite;
  -webkit-animation-delay: .33s;
     -moz-animation-delay: .33s;
       -o-animation-delay: .33s;
          animation-delay: .33s;
  animation-iteration-count: 4;
} */
/* 
#dot3 {
  -webkit-animation: dot 2s infinite;
     -moz-animation: dot 2s infinite;
       -o-animation: dot 2s infinite;
          animation: dot 2s infinite;
  -webkit-animation-delay: .66s;
     -moz-animation-delay: .66s;
       -o-animation-delay: .66s;
          animation-delay: .66s;
  animation-iteration-count: 4;
} */

/* @-webkit-keyframes dot {
  0%   { color: white }
  50%  { color: white }
  51%  { color: black }
  100% { color: black }
}
@-moz-keyframes dot {
  0%   { color: white }
  50%  { color: white }
  51%  { color: black }
  100% { color: black }
}
@-o-keyframes dot {
  0%   { color: white }
  50%  { color: white }
  51%  { color: black }
  100% { color: black }
}
@keyframes dot {
  0%   { color: white }
  50%  { color: white }
  51%  { color: black }
  100% { color: black }
} */

/* @-webkit-keyframes centerpiece {
  0%   { border-radius: 40px; transform: rotate(-90deg); }
  50%  { border-radius: 20px; }
  100% { border-radius: 0px; }
}
@-moz-keyframes centerpiece {
  0%   { border-radius: 40px; transform: rotate(-90deg); }
  50%  { border-radius: 20px; }
  100% { border-radius: 0px; }
}
@-o-keyframes centerpiece {
  0%   { border-radius: 40px; transform: rotate(-90deg); }
  50%  { border-radius: 20px; }
  100% { border-radius: 0px; }
}
@keyframes centerpiece {
  0%   { border-radius: 40px; transform: rotate(-90deg); }
  50%  { border-radius: 20px; }
  100% { border-radius: 0px; }
} */
/* 
@-webkit-keyframes rotator {
  50%  { transform: rotate(135deg); border-radius: 25px 25px 25px 25px; }
  100% { transform: rotate(270deg); border-radius: 50px 50px 50px 50px; }
}
@-moz-keyframes rotator {
  50%  { transform: rotate(135deg); border-radius: 25px 25px 25px 25px; }
  100% { transform: rotate(270deg); border-radius: 50px 50px 50px 50px; }
}
@-o-keyframes rotator {
  50%  { transform: rotate(135deg); border-radius: 25px 25px 25px 25px; }
  100% { transform: rotate(270deg); border-radius: 50px 50px 50px 50px; }
}
@keyframes rotator {
  50%  { transform: rotate(135deg); border-radius: 25px 25px 25px 25px; }
  100% { transform: rotate(270deg); border-radius: 50px 50px 50px 50px; }
} */

/* Nav-Bar */
/* 
.CBD {
  margin-left: 80px;
  height: 70px;
  float: left;
  text-decoration: none;
  font-weight: bold;
  line-height: 250%;
  font-size: 30px;
}

.initials {
  color: white;
} */


/* 
#nate span:nth-of-type(1) {
  opacity: 0;
  -webkit-transition-duration: .05s;
     -moz-transition-duration: .05s;
       -o-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-delay:.15s;
     -moz-transition-delay:.15s;
       -o-transition-delay:.15s;
          transition-delay:.15s;
}

#nate span:nth-of-type(2) {
  opacity: 0;
  -webkit-transition-duration: .05s;
     -moz-transition-duration: .05s;
       -o-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-delay: .1s;
     -moz-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

#nate span:nth-of-type(3) {
  opacity: 0;
  -webkit-transition-duration: .05s;
     -moz-transition-duration: .05s;
       -o-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-delay: .033s;
     -moz-transition-delay: .033s;
       -o-transition-delay: .033s;
          transition-delay: .033s;
}

#nate span:nth-of-type(4) {
  opacity: 0;
  -webkit-transition-duration: .05s;
     -moz-transition-duration: .05s;
       -o-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.CBD:hover #nate span:nth-of-type(1){
  opacity: 1;
  -webkit-transition-duration: .25s;
     -moz-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.CBD:hover #nate span:nth-of-type(2){
  opacity: 1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-delay: .05s;
     -moz-transition-delay: .05s;
       -o-transition-delay: .05s;
          transition-delay: .05s;
}

.CBD:hover #nate span:nth-of-type(3){
  opacity: 1;
  -webkit-transition-duration: .1s;
     -moz-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-delay: .1s;
     -moz-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.CBD:hover #nate span:nth-of-type(4){
  opacity: 1;
  -webkit-transition-duration: .05s;
     -moz-transition-duration: .05s;
       -o-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-delay: .133s;
     -moz-transition-delay: .133s;
       -o-transition-delay: .133s;
          transition-delay: .133s;
}

#cbd {
  margin: -81.625px;
  -webkit-transition-duration: .25s;
     -moz-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

#cbd span:nth-of-type(1) {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
       -o-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

#cbd span:nth-of-type(2) {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .25s;
     -moz-animation-delay: .25s;
       -o-animation-delay: .25s;
          animation-delay: .25s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

#cbd span:nth-of-type(3) {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
       -o-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transition-duration: .25s;
     -moz-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

.CBD:hover #cbd {
  margin: 0px;
}

.CBD:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 64.9668px;
  left: 80px;
  right: 0;
  bottom: 0;
  background: white;
  height: 4px;
  
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;

  -webkit-animation-name: CBD-underline;
          animation-name: CBD-underline;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.CBD:hover:before {
  width: 146.703px;
} */

/*CBD-underline*/
/* @-webkit-keyframes CBD-underline {
  0%   { -webkit-transform: translateY(4px); }
  100% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes CBD-underline {
  0%   { -moz-transform: translateY(4px); }
  100% { -moz-transform: translateY(0px); }
}

@-o-keyframes CBD-underline {
  0%   { -o-transform: translateY(4px); }
  100% { -o-transform: translateY(0px); }
}

@keyframes CBD-underline {
  0%   { transform: translateY(4px); }
  100% { transform: translateY(0px); }
} */
