a, .CSSmodal-content a, #left-bracket, #right-bracket { 
  text-decoration: none;
  color: white; 
  /* display: block; */
}

.nav-bar {
  position: fixed;
  z-index: 999;
  top: 0%;
  width: 100%;
  height: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-item {
  float: right;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  line-height: 350%;
  font-size: 20px;
  height: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-link {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
}

.navb, .navc {
  opacity: 0;
  color: white;
  -webkit-animation-duration: .75s;
     -moz-animation-duration: .75s;
       -o-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navb {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

.navc {
  -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
       -o-animation-delay: .5s;
          animation-delay: .5s;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition-property: transform;
          transition-property: transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition-property: transform;
          transition-property: transform;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fade-in {
  -webkit-animation-name: fade-in;
     -moz-animation-name: fade-in;
       -o-animation-name: fade-in;
          animation-name: fade-in;
}

.fade-out {
  -webkit-animation-name: fade-out;
     -moz-animation-name: fade-out;
       -o-animation-name: fade-out;
          animation-name: fade-out;
}

.fade-in-up {
  -webkit-animation-name: fade-in, fadeup;
     -moz-animation-name: fade-in, fadeup;
       -o-animation-name: fade-in, fadeup;
          animation-name: fade-in, fadeup;
}

/*fade-in*/
@keyframes fade-in {
  0% { 
    opacity: 0;
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0.975; 
    width: 100%; 
    height: 100%;
  }
}

@-webkit-keyframes fade-in {
  0% { 
    opacity: 0; 
    width: 100%; 
    height: 100%;
  } 100% { 
    opacity: 0.975; 
    width: 100%; 
    height: 100%;
  }
}

@-moz-keyframes fade-in {
  0% { 
    opacity: 0;
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  }
}

@-o-keyframes fade-in {
  0% { 
    opacity: 0;
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  }
}

@keyframes fade-out {
  0% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  } 99% { 
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@-webkit-keyframes fade-out {
  0% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  } 99% { 
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@-moz-keyframes fade-out {
  0% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  } 99% { 
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@-o-keyframes fade-out {
  0% { 
    opacity: 0.975;
    width: 100%;
    height: 100%;
  } 99% { 
    width: 100%;
    height: 100%;
  } 100% { 
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@keyframes fade-up {
  0%   { opacity: 0; }
  100% { opacity: 0.975; }
}

@-webkit-keyframes fade-up {
  0%   { opacity: 0; }
  100% { opacity: 0.975; }
}

@-moz-keyframes fade-up {
  0%   { opacity: 0; }
  100% { opacity: 0.975; }
}

@-o-keyframes fade-up {
  0%   { opacity: 0; }
  100% { opacity: 0.975; }
}
